.calculator{
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 317px;
    background:rgb(223, 223, 223);
    // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.display{
    display: flex;
    flex-flow:column;
    align-items: stretch;
    background:rgb(223, 223, 223);
    // border: 1px solid black;
}

.display__type{

} 
.display__input{
    // border: 1px solid black;
    background:rgb(223, 223, 223);
    display: flex;
    padding: 15px 0;
    
}
.display__input--size{
    border:none;
    text-align: right;
    font-size: 25px;
    outline: none;
    background:rgb(223, 223, 223);
} 
.display__memory{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    // border: 1px solid black;
    background:rgb(223, 223, 223);
    
    
}


.memory-display__option--size{
    height: 100%;
    width: 100%;
    outline: none;
    border:none;
    font-weight: 700;
    padding: 7px 0;
    border-radius: 3px;
}
.memory-display__option--size:hover{
    background: linear-gradient(to top, #d4d4d4, #b9b9b9);
}
.memory-display__option--size:active{
    background: linear-gradient(to top, #b9b9b9, #d4d4d4);
}
.memory-display__option{
    flex:1 0 0;
}


.calculator__keyboard{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    background:rgb(223, 223, 223);
    // border: 1px solid black;
}

.keyboard-calculator__button{
    flex: 0 0 24%;
    border-radius: 2px;
    margin: 1px;
    
    
    
    
    // border: 1px solid black;
}


.keyboard-calculator__button--number{
    background: white;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    padding: 12px;
}
.keyboard-calculator__button--number:hover{
    background: linear-gradient(to top, #d4d4d4, #b9b9b9);
}
.keyboard-calculator__button--number:active{
    background: linear-gradient(to top, #b9b9b9, #d4d4d4);
}
.keyboard-calculator__button--option{
    background:rgb(241, 241, 241);
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    padding: 12px;
}
.keyboard-calculator__button--option:hover{
    background: linear-gradient(to top, #d4d4d4, #b9b9b9);
}
.keyboard-calculator__button--option:active{
    background: linear-gradient(to top, #b9b9b9, #d4d4d4);
}
