<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="path/to/font-awesome/css/font-awesome.min.css")
        link(rel="stylesheet", href="main.css")
        title Culc
    body
        .calculator
            .calculator__display.display-calculator 
                .display-calculator__type
                    .memory-display__option
                        button(class="memory-display__option--size") ≡ 
                .display-calculator__input
                    input(type="text",value="0", class="display__input--size")
                .display-calculator__memory.memory-display
                    .memory-display__option
                        button(class="memory-display__option--size") MC
                    .memory-display__option
                        button(class="memory-display__option--size") MR
                    .memory-display__option
                        button(class="memory-display__option--size") M+
                    .memory-display__option
                        button(class="memory-display__option--size") M-
                    .memory-display__option
                        button(class="memory-display__option--size") MS
                    .memory-display__option
                        button(class="memory-display__option--size") M
            .calculator__keyboard.keyboard-calculator
                .keyboard-calculator__button
                    button(class="keyboard-calculator--size keyboard-calculator__button--option") %
                .keyboard-calculator__button
                    button(class="keyboard-calculator--size keyboard-calculator__button--option") √
                .keyboard-calculator__button
                    button(class="keyboard-calculator--size keyboard-calculator__button--option") x <sup>n</sup>
                .keyboard-calculator__button
                    button(class="keyboard-calculator--size keyboard-calculator__button--option") <sup>1</sup>/x
                .keyboard-calculator__button
                    button(class="keyboard-calculator--size keyboard-calculator__button--option") CE
                .keyboard-calculator__button
                    button(class="keyboard-calculator--size keyboard-calculator__button--option") C
                .keyboard-calculator__button
                    button(class="keyboard-calculator--size keyboard-calculator__button--option") ⇐
                .keyboard-calculator__button
                    button(class="keyboard-calculator--size keyboard-calculator__button--option") ÷
                .keyboard-calculator__button
                    button(class="keyboard-calculator--size keyboard-calculator__button--number") 7
                .keyboard-calculator__button
                    button(class="keyboard-calculator--size keyboard-calculator__button--number") 8
                .keyboard-calculator__button
                    button(class="keyboard-calculator--size keyboard-calculator__button--number") 9
                .keyboard-calculator__button
                    button(class="keyboard-calculator--size keyboard-calculator__button--option") ×
                .keyboard-calculator__button
                    button(class="keyboard-calculator--size keyboard-calculator__button--number") 4
                .keyboard-calculator__button
                    button(class="keyboard-calculator--size keyboard-calculator__button--number") 5
                .keyboard-calculator__button
                    button(class="keyboard-calculator--size keyboard-calculator__button--number") 6
                .keyboard-calculator__button
                    button(class="keyboard-calculator--size keyboard-calculator__button--option") -
                .keyboard-calculator__button
                    button(class="keyboard-calculator--size keyboard-calculator__button--number") 1
                .keyboard-calculator__button
                    button(class="keyboard-calculator--size keyboard-calculator__button--number") 2
                .keyboard-calculator__button
                    button(class="keyboard-calculator--size keyboard-calculator__button--number") 3
                .keyboard-calculator__button
                    button(class="keyboard-calculator--size keyboard-calculator__button--option") +
                .keyboard-calculator__button
                    button(class="keyboard-calculator--size keyboard-calculator__button--option") ±
                .keyboard-calculator__button
                    button(class="keyboard-calculator--size keyboard-calculator__button--number") 0
                .keyboard-calculator__button
                    button(class="keyboard-calculator--size keyboard-calculator__button--option") ,
                .keyboard-calculator__button
                    button(class="keyboard-calculator--size keyboard-calculator__button--option") =
                
                


            