<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        script(src="script.js", defer=true.toString())
        link(rel="stylesheet", href="main.css")
        title Culc
    body
        .calculator
            .calculator__display
                .calculator__display-types
                    button(class="calculator__display-types--size") ≡ 
                .calculator__display-input
                    input(type="text",value=" ", pattern="^[ 0-9]+$", disabled class="calculator__display-input--shadow")
                    input(type="text",value="0", pattern="^[ 0-9]+$", disabled class="calculator__display-input--size")
                    input(type="hidden" pattern="^[ 0-9]+$", disabled class="calculator__display-input--hidden")
                    input(type="text",value=" ", pattern="^[ 0-9]+$", disabled class="calculator__display-input--memory")
                .calculator__display-memory.memory-calculator
                    .memory-calculator__operations
                        button(class="memory-calculator__operations--size" onclick="memoryClean()") MC
                    .memory-calculator__operations
                        button(class="memory-calculator__operations--size" onclick="memoryRead()") MR
                    .memory-calculator__operations
                        button(class="memory-calculator__operations--size" onclick="memoryAdd()") M+
                    .memory-calculator__operations
                        button(class="memory-calculator__operations--size" onclick="memorySub()") M-
                    .memory-calculator__operations
                        button(class="memory-calculator__operations--size" onclick="memorySave()") MS
                    .memory-calculator__operations
                        button(class="memory-calculator__operations--size") M
            .calculator__keyboard
                .calculator__keyboard-container     
                    .calculator__keyboard-button
                        button(class="calculator__keyboard-button--operation", onclick="percent()") %
                    .calculator__keyboard-button
                        button(class="calculator__keyboard-button--operation", onclick="sqrt()") √
                    .calculator__keyboard-button
                        button(class="calculator__keyboard-button--operation", onclick="exponentiation()") x <sup>n</sup>
                    .calculator__keyboard-button
                        button(class="calculator__keyboard-button--operation", onclick="fraction()") <sup>1</sup>/x
                .calculator__keyboard-container            
                    .calculator__keyboard-button
                        button(class="calculator__keyboard-button--operation", onclick="cleanElement()") CE
                    .calculator__keyboard-button
                        button(class="calculator__keyboard-button--operation", onclick="clean()") C
                    .calculator__keyboard-button
                        button(class="calculator__keyboard-button--operation", onclick="remove()") ⇐
                    .calculator__keyboard-button
                        button(class="calculator__keyboard-button--operation", onclick="toSplit()") ÷
                .calculator__keyboard-container        
                    .calculator__keyboard-button
                        button(class="calculator__keyboard-button--number", onclick="insert(7)") 7
                    .calculator__keyboard-button
                        button(class="calculator__keyboard-button--number", onclick="insert(8)") 8
                    .calculator__keyboard-button
                        button(class="calculator__keyboard-button--number", onclick="insert(9)") 9
                    .calculator__keyboard-button
                        button(class="calculator__keyboard-button--operation", onclick="multiply()") ×
                .calculator__keyboard-container
                    .calculator__keyboard-button
                        button(class="calculator__keyboard-button--number", onclick="insert(4)") 4
                    .calculator__keyboard-button
                        button(class="calculator__keyboard-button--number", onclick="insert(5)") 5
                    .calculator__keyboard-button
                        button(class="calculator__keyboard-button--number", onclick="insert(6)") 6
                    .calculator__keyboard-button
                        button(class="calculator__keyboard-button--operation", onclick=" substract(); ") -
                .calculator__keyboard-container
                    .calculator__keyboard-button
                        button(class="calculator__keyboard-button--number", onclick="insert(1)") 1
                    .calculator__keyboard-button
                        button(class="calculator__keyboard-button--number", onclick="insert(2)") 2
                    .calculator__keyboard-button
                        button(class="calculator__keyboard-button--number", onclick="insert(3)") 3
                    .calculator__keyboard-button
                        button(class="calculator__keyboard-button--operation", onclick=" add(); ") +
                .calculator__keyboard-container
                    .calculator__keyboard-button
                        button(class="calculator__keyboard-button--operation", onclick="change()") ±
                    .calculator__keyboard-button
                        button(class="calculator__keyboard-button--number", onclick="insert(0)") 0
                    .calculator__keyboard-button
                        button(class="calculator__keyboard-button--operation", onclick="comma()") ,
                    .calculator__keyboard-button
                        button(class="calculator__keyboard-button--operation", onclick=" result(); ") =
                
                


            